{% load staticfiles %}
{% load my_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  <!-- Tell IE to use the latest, best version (or Chrome Frame if pre-IE11). -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>3d maps</title>
   <script src="{% static 'js/jquery-1.11.2.min.js'%}"></script>
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/Cesium.js' %}"></script>
  <style>
      @import url({% static 'css/widgets.css' %});
      @import url({% static 'css/home/bootstrap.min.css' %});
      @import url({% static 'css/home/modern-business.css' %});
      @import url({% static 'css/home/font-awesome/css/font-awesome.min.css' %});


      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }
  </style>
</head>
<body onload="ShowBuilding();">
  <div id="cesiumContainer"></div>

<div id="controlPanel">
  <!-- {%if forloop.first %}
        <p><span>{{objects.TypeObj}}</span><input id="skyCheckbox{{objects.id}}" type="checkbox" checked/> 
          {%endif%} -->
  <center><font size="4" color="white"> Quick menu</font></center><br/>
   <label> 
    <p><button id="home" class="cesium-button" onclick="GoHome();">Home</button></p>
    <p><button id="scat" class="cesium-button" onclick="SCat();">See Info Categorized</button></p>
    <p><button id="dd" class="cesium-button" onclick="DD();">Devices Damaged</button></p>  <!--  It will show devices that are not
    sending data to the website about 20 min -->
    <p><button id="pt" class="cesium-button" onclick="PT();">Public Transportation</button></p>
    <p><button id="pt" class="cesium-button" onclick="PT();">Public Informations</button></p>
    <p><button id="pt" class="cesium-button" onclick="PT();">Public Complaints</button></p>
    <p><button id="pt" class="cesium-button" onclick="GD();">Graphics Dashboards</button></p>

    <p><button id="as" class="cesium-button" onclick="AS();">Advanced Search</button></p>

  </p>
</div>




  <script>

  //Using openstreetmap as tiled map
var viewer = new Cesium.Viewer('cesiumContainer', {
    imageryProvider : new Cesium.OpenStreetMapImageryProvider({
    url : '//a.tile.openstreetmap.org/'
        }),
    baseLayerPicker : false,
    timeline: false,
    animation: false
});
                           




var materiall = Cesium.Color.RED.withAlpha(0.5);
var count =0;
{%for coordesfinal1 in coordesfinal%}
 var str1='';
  var str2='';
  var roomID = '';
  var roomname='';
    var lat = '';
    var lon = '';

            {%for coordes in coordesfinal1%}
               str1 = 'ab';
                str2 = '{{coordes.id}}';
               roomID = str1.concat(str2);
               roomname='{{coordes.RoomName}}'
               lat = '{{coordes.latitude}}';
               lon = '{{coordes.longitude}}';




//alert('ab' + str2);
           {% endfor %}


window["ab" + str2] = viewer.entities.add({
        name : roomname,
        polygon : {
          hierarchy : Cesium.Cartesian3.fromDegreesArray([
                      {%for coordes in coordesfinal1%}
                parseFloat('{{coordes.longitude}}') , parseFloat('{{coordes.latitude}}'),
                        {% endfor %}
                        ]),
          material : materiall,
          outline : true,
          outlineColor : Cesium.Color.BLACK
        }
      });
if (count == 0) {
    materiall = Cesium.Color.BLUE.withAlpha(0.5);
    count = count + 1;
} else {
    materiall = Cesium.Color.RED.withAlpha(0.5);
    count = 0;

}
window["ab" + str2].description = '\
<p>\
  ' + roomname + ' \
</p>\
  <a style="color: WHITE"\
    target="_blank"\
   <ul>\
     <li><a href="/rooms?roomID='+ str2 +'" target="_top">OPEN</a></li>\
  </ul></p>\
<p>\
<p>\
</p>\
<p>\
</p>\
<p>\
</p>\
<p>\
</p>';

viewer.infoBox.frame.removeAttribute('sandbox');
    {%endfor%}



//Design the Floor pan.

//29.72631, -95.34252

var heading = Cesium.Math.toRadians(90);
var pitch = Cesium.Math.toRadians(-40);
viewer.zoomTo(window["ab" + str2], new Cesium.HeadingPitchRange(heading, pitch,200));


ellipse = window["ab" + str2].polygon
//ellipse.material = "{% static 'css/img/a.jpg' %}";
//rooms.polygon.height = 15;

ellipse.polygon.extrudedHeight = 0;











function GoHome(){
  //document.getElementById('controlPanel2').style.visibility = 'visible'
  window.location.replace("/");
}

function GD(){
  //document.getElementById('controlPanel2').style.visibility = 'visible'
  window.location.replace("/graphics");
}



function SCat(){
  //document.getElementById('controlPanel2').style.visibility = 'visible'
  window.location.replace("/objects");
}
function DD(){
  //document.getElementById('controlPanel2').style.visibility = 'visible'
  window.location.replace("/");
}
function AS(){
  //document.getElementById('controlPanel2').style.visibility = 'visible'
  window.location.replace("/advancedsearch");
}
function PT(){
  //document.getElementById('controlPanel2').style.visibility = 'visible'
  window.location.replace("/");
}



/*var rooms = viewer.entities.add({
  name : 'rooms',
  polygon : {
    hierarchy : Cesium.Cartesian3.fromDegreesArray([
                            {% for rooms in rooms %}
                             '{{ rooms.st_X }}','{{ rooms.st_Y }}',
                              {% endfor %} 

                              ]),
    material : Cesium.Color.BLUE.withAlpha(0.5),
    outline : true,
    outlineColor : Cesium.Color.BLACK
  }
});

*/





/*
viewer.camera.flyTo({
        destination : Cesium.Cartesian3.fromDegrees(-95.3437, 29.7179, 800.0),
        orientation : {
            heading : Cesium.Math.toRadians(20.0),
            pitch : Cesium.Math.toRadians(-60.0),
            roll : 0.0
        }
    });


//Add all buildings in the map
  {%for building in building%}
  var str1 = 'ab';
  var str2 = '{{building.id}}';
var buildingID = str1.concat(str2);
//alert('ab' + str2);

window["ab" + str2] =  viewer.entities.add({
    name : '{{building.Name}}',
    position : Cesium.Cartesian3.fromDegrees(parseFloat('{{building.PositionLong}}'.replace(",",".")) , parseFloat('{{building.PositionLat}}'.replace(",","."))),
    model : {
        uri : "/media/{{building.url}}"
    }});
var count = 1;
viewer.trackedEntity = window["ab" + str2];
window["ab" + str2].description = '\
<img\
  width="50%",height="40%"\
  style="float:left; margin: 0 1em 1em 0;"\
  src="/media/{{building.Picture}}"/>\
<p>\
  {{building.Name}} \
</p>\
<p>\
  {{building.Description}} \
</p>\
<p>\
   Floors:   <p>\
</p> \
  <a style="color: WHITE"\
    target="_blank"\
   <ul>' {% for count in building.Floors|times %}
    + '<li><a href="/floor?buildingid={{building.id}}&codFloor={{ forloop.counter }} {# starting index 1 #}" target="_top">Floor {{ forloop.counter }} {# starting index 1 #} </a></li>\
  '  {% endfor %} + 
  '</ul><p>\
</p>\
<p>\
</p>\
<p>\
</p>\
<p>\
</p>';

{%endfor%}

//USING IFRAME IN POP-UP
/*window["ab" + str2].description ='<iframe src="http://www.w3schools.com">\
</iframe>\
We can do a lot of thing here\

<p>\
  Null \
</p>\
p>\
  Null \
</p>';*/




/*var wyoming = viewer.entities.add({
  name : 'Wyoming',
  polygon : {
    hierarchy : Cesium.Cartesian3.fromDegreesArray([
                             -95.34084,29.72322,
     -95.34074, 29.72348,
      -95.34150, 29.72371,
      -95.34161, 29.72345
                             ]),
    //material : "{% static 'css/img/a.jpg' %}",
    outline : true,
    outlineColor : Cesium.Color.BLACK
  }
});

wyoming.polygon.extrudedHeight = 50;*/


//Setting up the pop-up when we click in the building



/*eval('var ab' + str2 + ' = ' + viewer.entities.add({
    name : '{{building.Name}}',
    position : Cesium.Cartesian3.fromDegrees(parseFloat('{{building.PositionLong}}'.replace(",",".")) , parseFloat('{{building.PositionLat}}'.replace(",","."))),
    model : {
        uri : "/media/{{building.url}}"
    }})); */


  </script>
  <style type="text/css">
#controlPanel {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(42, 42, 42, 0.8);
  padding: 5px 8px;
  border-radius: 5px;
}


label {
  cursor: pointer;
}
label:hover span {
  text-decoration: underline;
}
#home {
    width: 15em;  height: 2em;
    text-align: left;

}
#scat {
    width: 15em;  height: 2em;
    text-align: left;

}
#dd {
    width: 15em;  height: 2em;
    text-align: left;

}
#as {
    width: 15em;  height: 2em;
    text-align: left;
}
#pt {
    width: 15em;  height: 2em;
    text-align: left;
}



  </style>
</body>
</html>