{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  <!-- Tell IE to use the latest, best version (or Chrome Frame if pre-IE11). -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>3d maps</title>
  
  <script src="{% static 'js/Cesium.js' %}"></script>
  <style>
      @import url({% static 'css/widgets.css' %});
      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }
  </style>
</head>
<body>
  <div id="cesiumContainer"></div>
  <script>


 
  //Using openstreetmap as tiled map
var viewer = new Cesium.Viewer('cesiumContainer', {
    imageryProvider : new Cesium.OpenStreetMapImageryProvider({
    url : '//a.tile.openstreetmap.org/'
        }),
    baseLayerPicker : false
});
viewer.camera.flyTo({
        destination : Cesium.Cartesian3.fromDegrees(-95.3437, 29.7179, 800.0),
        orientation : {
            heading : Cesium.Math.toRadians(20.0),
            pitch : Cesium.Math.toRadians(-60.0),
            roll : 0.0
        }
    });


//Add all buildings in the map
  {%for building in building%}
  var str1 = 'ab';
  var str2 = '{{building.id}}';
var buildingID = str1.concat(str2);
//alert('ab' + str2);

window["ab" + str2] =  viewer.entities.add({
    name : '{{building.Name}}',
    position : Cesium.Cartesian3.fromDegrees(parseFloat('{{building.PositionLong}}'.replace(",",".")) , parseFloat('{{building.PositionLat}}'.replace(",","."))),
    model : {
        uri : "/media/{{building.url}}"
    }});


viewer.trackedEntity = window["ab" + str2];
window["ab" + str2].description = '\
<img\
  width="50%"\
  style="float:left; margin: 0 1em 1em 0;"\
  src="/media/{{building.MaterialImage}}"/>\
<p>\
  {{building.Name}} \
</p>\
<p>\
  {{building.Description}} \
</p>\
<p>\
  Source: \
  <a style="color: WHITE"\
    target="_blank"\
    href="http://en.wikipedia.org/wiki/Wyoming">Wikpedia</a>';

{%endfor%}

/*var wyoming = viewer.entities.add({
  name : 'Wyoming',
  polygon : {
    hierarchy : Cesium.Cartesian3.fromDegreesArray([
                             -95.34084,29.72322,
     -95.34074, 29.72348,
      -95.34150, 29.72371,
      -95.34161, 29.72345
                             ]),
    //material : "{% static 'css/img/a.jpg' %}",
    outline : true,
    outlineColor : Cesium.Color.BLACK
  }
});

wyoming.polygon.extrudedHeight = 50;*/


//Setting up the pop-up when we click in the building



/*eval('var ab' + str2 + ' = ' + viewer.entities.add({
    name : '{{building.Name}}',
    position : Cesium.Cartesian3.fromDegrees(parseFloat('{{building.PositionLong}}'.replace(",",".")) , parseFloat('{{building.PositionLat}}'.replace(",","."))),
    model : {
        uri : "/media/{{building.url}}"
    }})); */


  </script>
</body>
</html>
